*{
    margin: 0px;
    padding: 0px;
}

/*фон*/
body {
    background: url('../image/img1.jpg');
    width: 100%;
}

/*шапка*/
 div#logo { 
    width:1000;
    height:200px; 
    background:url('../image/img2.png') no-repeat;
}

/*меню*/
#navbar {
        margin: auto;
        padding: 0;
        list-style-type: none;
        border: 2px solid hsl(171, 81%, 23%);
        border-radius: 20px 5px;
        width: 1300px;
        text-align: left;
        background-color: #bebebe;
      }
#navbar li { display: inline; }
#navbar a {
    color: hsl(171, 81%, 23%);
    padding: 12px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    width: 100px;
    text-align: center;
}
#navbar a:hover {
        border-radius: 20px 5px;
        background-color: #39AD94;
    }

/*фон основной части сайта*/
#wrapper{
    margin: auto;
    width:1300px;
    height:750px;
    border:3px solid hsl(171, 81%, 23%);
    border-radius:10px 10px;
    margin-top: 4px;
    background-color: #D6D4D4;
}

h1{
    color:hsl(171, 81%, 23%);
    text-align:center;
    margin-top:17px;
}

/*фон footer*/
footer{
    color: hsl(171, 81%, 23%);
    width: 1300px;
    height:18px;
    margin:auto;
    padding: 1px 2px;
    background-color: #bebebe;
    border-top: 2px solid silver;
    margin-top: 4px ;
    border: 2px solid hsl(171, 81%, 23%);  
    border-radius: 20px 5px ;   
}

#right{
    float:right;
    width: 50%;
    text-align: right;
    margin-right: 30px; 
    font-size: 1.1em;
}


/*форма авторизации и регистрации*/

#login{
    width: 300px;
    margin: auto;
    border-radius: 50px;
    font-family: 'Times New Roman';
    border: 2px solid #ccc;
    padding: 30px 40px 25px;
    margin-top: 70px;
    background: #bebebe;
}

label{
    color: hsl(171, 81%, 23%);
    font-size: 20px;
    font-weight: bold; 
    font-family: 'Times New Roman';   
}

input[type=text],input[type=password],input[type=email]{
    width:92%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
    font-family:'Times New Roman';
}

input[type=submit]{
    width: 100%;
    margin-top: 8px;
    background-color:#39AD94;
    color: white;
    border: 2px solid hsl(171, 81%, 23%);
    padding: 8px;
    font-size:20px;
    cursor:pointer;
    border-radius: 5px;
    margin-bottom: 8px;
}

a{
    padding: 16px;
    font-size:15px;
    font-family:'Times New Roman';
}

hr {
    background-color : hsl(171, 81%, 23%);
    height: 1px;
    width: 270px;
    margin:  auto;
}





